{% load static %}

<!DOCTYPE html>
<html lang="es">
	<head>	
		<title>LookUS</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'signup/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'navigation/css/A.style.css.pagespeed.cf.MS7FITfQl0.css' %}">
		<script>
			function confirmDetectionRange() {
				if (confirm('¿Está seguro de que quiere detectar este rango de red? Este proceso se puede demorar')) {
					this.parentNode.submit();
					// document.getElementById('detection_form').submit();
				}
			}

			function confirmDetectionSingle() {
				if (confirm('¿Está seguro de que quiere detectar este dispositivo?')) {
					this.parentNode.submit();
					// document.getElementById('detection_form').submit();
				}
			}

			function searchingDeviceName() {
				var input, filter, table, tr, td, i, txtValue;
				input = document.getElementById("device_name_search");
				filter = input.value.toUpperCase();
				table = document.getElementById("devices_table");
				tr = table.getElementsByTagName("tr");

				for (i = 0; i < tr.length; i++) {
					td = tr[i].getElementsByTagName("td")[0];
					if (td) {
						txtValue = td.textContent || td.innerText;
						if (txtValue.toUpperCase().indexOf(filter) > -1) {
							tr[i].style.display = "";
						} else {
							tr[i].style.display = "none";
						}
					}
				}
			}
		</script>
	</head>
	<body>
		<div id="colorlib-page">
            <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
            <aside id="colorlib-aside" role="complementary" class="js-fullheight">
            <nav id="colorlib-main-menu" role="navigation">
            <ul>
            <li><a href="/">Inicio</a></li>
            {% if user.is_staff %}
            <li><a href="/admin">Panel de administración</a></li>
            {% endif %}
            <li class="colorlib-active"><a href="/devices/list">Dispositivos</a></li>
            <li><a href="/detection/list">Detecciones</a></li>
			<li><a href="/training">Entrenar diccionario de datos</a></li>
			<li><a href="/authentication/profile">Mi perfil</a></li>
            <li><a href="/authentication/log_out">Cerrar sesión como {{user.username}}</a></li>
            </ul>
            </nav>
            </aside>
			<div id="colorlib-main">
				<h1>Lista de dispositivos</h1>
				{% if messages %}
					{% for message in messages %}
						{% if message.tags == 'success' %}
							<div class="alert alert-success">
								{{ message }}
							</div>
						{% endif %}
						{% if message.tags == 'error' %}
							<div class="alert alert-danger">
								{{ message }}
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
				{% if not devices and not filter %}
				<strong>Aún no tienes ningún dispositivo añadido. </strong><a href="/devices/add">¿Quieres añadir uno?</a>
				{% elif not devices and filter %}
				<strong>No se han encontrado dispositivos con ese filtro. </strong><p>Pulsa <a href="/devices/list">aquí</a> para volver al listado de dispositivos.</p>
				{% else %}
				<a href="/devices/add" class="btn btn-primary">Añadir otro dispositivo</a>
				<a href="/devices/remove_all" class="btn btn-danger" onclick="return confirm('¿Está seguro de que quiere borrar todos los dispositivos?\n\nSe borrarán también sus detecciones si se ha realizado alguna.')">
					Borrar todos los dispositivos
				</a>
				<br>
				<br>
				<strong>Buscar dispositivo por nombre: </strong>
				<input type="text" style="display:inline" id="device_name_search" onkeyup="searchingDeviceName()" placeholder="Introduce aquí el nombre">
				    |  <strong>Filtrar dispositivos: </strong>
				<form style="display:inline;"id="filter_checkbox_select">
					<select name="filter">
						<option value="all_devices">Mostrar todos los dispositivos</option>
						<option value="ip_devices">Mostrar dispositivos con direcciones IP</option>
						<option value="url_devices">Mostrar dispositivos con direcciones URL</option>
						<option value="range_devices">Mostrar dispositivos con rangos de red</option>
						<option value="detected_devices">Mostrar dispositivos detectados</option>
						<option value="undetected_devices">Mostrar dispositivos sin detectar</option>
					</select>
					<input style="display: inline;" type="submit" value="Aplicar"/>  
				</form>
				<hr style="border:none;">
				<table id="devices_table" class="table table-striped table-bordered display">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Formato</th>
							<th>Detectado</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for device in devices %}
						<tr>
							<td>{{device.name}}</td>
							<td>{{device.format}}</td>
							{% if device.detected %}
							<td><img src="{% static 'icons/tick.png' %}" width="25" height="25" alt="Sí"></td>
							
							<td>
								<a href="/detection/list">
									Ver detección
								</a>
								|
								<a href="/devices/remove/{{device.id}}" onclick="return confirm('¿Está seguro de que quiere borrar este dispositivo?\n\nSe borrará también su detección.')">
									Borrar dispositivo
								</a>
							</td>
							{% else %}
							<td><img src="{% static 'icons/equis.png' %}" width="20" height="20" alt="No"></td>
							<td>
								<form id="detection_form" method="post" action="/detection/detect/{{device.id}}/">
									{% csrf_token %}
									{% if device.format == 'Rango' %}
									<a href="#" onclick="if (confirm('¿Está seguro de que quiere detectar este rango de red?\n\nNOTA: los rangos de red contienen múltiples dispositivos, \npor lo que  este proceso puede demorarse más de lo normal')) {this.parentNode.submit();}">
										Detectar dispositivo
									</a>
									{% else %}
									<a href="#" onclick="if (confirm('¿Está seguro de que quiere detectar este dispositivo?\n\nNOTA: en ocasiones este proceso puede demorarse un poco')) {this.parentNode.submit();}">
										Detectar dispositivo
									</a>
									{% endif %}
									{% if own_dicc_exists %}
									<input name="own_dicc" value="own_dicc_true" type="checkbox"> Usar diccionario propio
									{% endif %}
								</form>
								
								<a href="/devices/remove/{{device.id}}" onclick="return confirm('¿Está seguro de que quiere borrar este dispositivo?')">
									Borrar dispositivo
								</a>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% endif %}
			</div>
		</div>
	</body>
</html>
