{% load static %}

<!DOCTYPE html>
<html lang="es">
	<head>
		<title>LookUS</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'signup/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'navigation/css/A.style.css.pagespeed.cf.MS7FITfQl0.css' %}">
        <script>
			function searchingDeviceName() {
				var input, filter, table, tr, td, i, txtValue;
				input = document.getElementById("device_name_search");
				filter = input.value.toUpperCase();
				table = document.getElementById("devices_table");
				tr = table.getElementsByTagName("tr");

				for (i = 0; i < tr.length; i++) {
					td = tr[i].getElementsByTagName("td")[0];
					if (td) {
						txtValue = td.textContent || td.innerText;
						if (txtValue.toUpperCase().indexOf(filter) > -1) {
							tr[i].style.display = "";
						} else {
							tr[i].style.display = "none";
						}
					}
				}
			}

            function searchingDetectionByName() {
				var input, filter, table, tr, td, i, txtValue;
				input = document.getElementById("search_detection_name");
				filter = input.value.toUpperCase();
				table = document.getElementById("detections_table");
				tr = table.getElementsByTagName("tr");

				for (i = 0; i < tr.length; i++) {
					td = tr[i].getElementsByTagName("td")[0];
					if (td) {
						txtValue = td.textContent || td.innerText;
						if (txtValue.toUpperCase().indexOf(filter) > -1) {
							tr[i].style.display = "";
						} else {
							tr[i].style.display = "none";
						}
					}
				}
			}
        </script>
	</head>
	<body>
		<div id="colorlib-page">
            <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
            <aside id="colorlib-aside" role="complementary" class="js-fullheight">
            <nav id="colorlib-main-menu" role="navigation">
            <ul>
            <li><a href="/">← Volver a inicio</a></li>
            {% if user.is_staff %}
            <li><a href="/admin">Panel de administración</a></li>
            {% endif %}
			<li><a href="/admin/django">Acceder al panel de Django</a></li>
            <li><a href="/admin/devices">Control de dispositivos</a></li>
            <li><a href="/admin/detections">Control de detecciones</a></li>
            <li class="colorlib-active"><a href="/admin/users">Control de usuarios</a></li>
            <li><a href="/authentication/log_out">Cerrar sesión como {{user.username}}</a></li>
            </ul>
            </nav>
            </aside>
			<div id="colorlib-main">
				<h1>Detalles del usuario {{user_details.username}}</h1>
				{% if messages %}
					{% for message in messages %}
						{% if message.tags == 'success' %}
							<div class="alert alert-success">
								{{ message }}
							</div>
						{% endif %}
						{% if message.tags == 'error' %}
							<div class="alert alert-danger">
								{{ message }}
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
                {% if not devices %}
				<strong>
                    Este usuario aún no tiene añadido ningún dispositivo.
                </strong>
                {% else %}
				<br>
                <h2 style="color: #f66151">Dispositivos añadidos por el usuario</h2>
				<strong>Buscar dispositivo por nombre: </strong>
                <input type="text" id="search_device_name" onclick="searchDetectionByDeviceName()" placeholder="Introduce aquí el nombre del dispositivo"><br>
                <table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Nombre</th>
                            <th>Formato</th>
							<th>Detectado</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for device in devices %}
						<tr>
							<td>{{device.name}}</td>
                            <td>{{device.format}}</td>
							{% if device.detected %}
							<td><img src="{% static 'icons/tick.png' %}" width="25" height="25" alt="Sí"></td>
							
							<td>
								<a href="/devices/remove/{{device.id}}" class="btn btn-danger" onclick="return confirm('¿Está seguro de que quiere borrar este dispositivo?')">
									Borrar
								</a>
							</td>
							{% else %}
							<td><img src="{% static 'icons/equis.png' %}" width="25" height="25" alt="No"></td>
							<td>
								<a href="/detection/detect/{{device.id}}" onclick="return confirm('¿Está seguro de que quiere detectar este dispositivo?')">
									Detectar
								</a>
								|
								<a href="/devices/remove/{{device.id}}" class="btn btn-danger" onclick="return confirm('¿Está seguro de que quiere borrar este dispositivo?')">
									Borrar
								</a>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% endif %}
                <hr style="border: none">
				{% if not detections %}
				<strong>
                    Este usuario no ha realizado ninguna detección de sus dispositivos añadidos.
                </strong>
                {% else %}
				<br>
				<h2 style="color: #f66151">Detecciones realizadas por el usuario</h2>
				<strong>Buscar detección por nombre de dispositivo: </strong>
                <input type="text" id="search_device_name" onclick="searchDetectionByDeviceName()" placeholder="Introduce aquí el nombre del dispositivo"><br>
                <table id="detections_table" class="table table-striped table-bordered display">
					<thead>
						<tr>
							<th>Dispositivo</th>
							<th>Formato</th>
							<th>Fecha de detección</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for detection in detections %}
						<tr>
							<td>{{detection.device.name}}</td>
							<td>{{detection.device.format}}</td>
							<td>{{detection.detection_date}}</td>
							<td>
								<a href="/detection/results/{{ detection.id }}" class="btn btn-primary">
									Ver resultados
								</a>
								<a href="/detection/remove/{{ detection.id }}" class="btn btn-danger" onclick="return confirm('¿Está seguro de que quiere borrar esta detección?')">
									Eliminar
								</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% endif %}

				{% if own_dicc_exists %}
				<h2 style="color: #f66151">Diccionarios entrenados por el usuario</h2>
				<table id="user_diccs_table" class="table table-striped table-bordered display">
					<thead>
						<tr>
							<th>Dispositivo asociado al diccionario</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Router</td>
							<td>
								<a href="/training/see_dicc" nameclass="btn btn-primary">
									Ver diccionario
								</a>
								<a href="/detection/remove/{{ detection.id }}" class="btn btn-danger" onclick="return confirm('¿Está seguro de que quiere borrar esta detección?')">
									Eliminar
								</a>
							</td>
						</tr>
						<tr>
							<td>Servidor web personal</td>
							<td>
								<a href="/detection/results/{{ detection.id }}" class="btn btn-primary">
									Ver diccionario
								</a>
								<a href="/detection/remove/{{ detection.id }}" class="btn btn-danger" onclick="return confirm('¿Está seguro de que quiere borrar esta detección?')">
									Eliminar
								</a>
							</td>
						</tr>
						<tr>
							<td>Cámara de seguridad</td>
							<td>
								<a href="/detection/results/{{ detection.id }}" class="btn btn-primary">
									Ver diccionario
								</a>
								<a href="/detection/remove/{{ detection.id }}" class="btn btn-danger" onclick="return confirm('¿Está seguro de que quiere borrar esta detección?')">
									Eliminar
								</a>
							</td>
						</tr>
						<tr>
							<td>Impresora</td>
							<td>
								<a href="/detection/results/{{ detection.id }}" class="btn btn-primary">
									Ver diccionario
								</a>
								<a href="/detection/remove/{{ detection.id }}" class="btn btn-danger" onclick="return confirm('¿Está seguro de que quiere borrar esta detección?')">
									Eliminar
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				{% endif %}
			</div>
		</div>
	</body>
</html>