<!DOCTYPE html>
<html>
    <head>
        <title>LookUS</title>
        <meta charset="UTF-8">
    </head>
    <body>
        {% if not devices %}
        <p>No tienes ningún dispositivo añadido<p>
        {% else %}
        
        <h2>Lista de dispositivos</h2>
        {% for d in devices %}
            {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
            {% endif %}
            <p>{{ d.name }}</p>
            {% if not d.detected %}
            <a href="/detection/detect/{{ d.id }}">Detectar</a>
            {% else %}
            <p>DIspositivo detectado, pulsa <a href="/detection/results/{{ d.detection.id }}">aquí</a> para ver los resultados</p>
            {% endif %}
            <a href="/detection/remove/{{ d.id }}">Borrar este dispositivo</a>
        {% endfor %}
        {% endif %}
    </body>
</html>