<!DOCTYPE html>
<html>
    <head>
        <title>LookUS</title>
        <meta charset="UTF-8">
    </head>
    <body>
        {% if not devices %}
        <p>No tienes ningún dispositivo añadido<p>
        {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        {% else %}
        
        <h2>Lista de dispositivos</h2>
        <div>
            <table class="default">
                <tr>
                    <th>Dispositivo</th>
                    <th>¿Detectado?</th>
                    <th>Acciones</th>
                    <th>Resultados</th>
                </tr>
            </div>
            {% for d in devices %}
                {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
                {% endif %}
                <tr>
                    <td>{{ d.name }}</td>
                    {% if not d.detected %}
                    <td>No</td>
                    <td><a href="/detection/detect/{{ d.id }}">Detectar</a>, <a href="/detection/remove/{{ d.id }}">Borrar este dispositivo</a></td>
                    <td>No está detectado</td>
                    {% else %}
                    <td>Sí</td>
                    <td><a href="/detection/remove/{{ d.id }}">Borrar este dispositivo</a></td>
                    <td><a href="/detection/results/{{ d.detection.id }}">Ver resultados</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% endif %}
            </table>
    </body>
</html>